#! /bin/sh

name=kconfigwidgets
version=6.25.0
revision=1
git_url="https://github.com/KDE/kconfigwidgets.git"
commit=92e18ae12e2cf16cc5ce8351c22d040b461cfe5a
imagedeps="cmake ninja-build pkg-config gettext"
hostdeps="gcc pkg-config cmake qt6 extra-cmake-modules kconfig kcoreaddons"
deps="core-libs kcodecs kcolorscheme kconfig kcoreaddons kguiaddons ki18n kwidgetsaddons qtbase6"

configure() {
    kf6_configure
}

build() {
    cmake --build . -j${parallelism}
}

package() {
    DESTDIR="${dest_dir}" cmake --install .

    post_package_strip
}
