# IDE Files
.vscode/
.idea/
*.code-workspace

# Jinx
.jinx-cache/
build-*/
sources/
host-sources/

# Other files
ovmf/

# Build results
zinnia.img
zinnia.iso

# Allow debug config
!.vscode/launch.json
